
@{
    Layout = null;
    ViewBag.Title = "XacNhanRole";
}

<link href="~/Content/TranKhangDI_css/css/bootstrap.min.css" rel="stylesheet" />


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="icon" href="~/imgs/LOGO-removebg-preview.png" type="images/x-icon">
    <link href="~/Content/TranKhangDI_css/LoginNguoiDung_css/LoginNguoiDung.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div class="hero">
        <div class="form-box">

            <div style="text-align:center;padding-top:150px">
                <h2>Bạn là ?</h2>
            </div>

            <div style="padding-top:30px;text-align:center">
                <a class="submit-btn " href="~/DangNhap/Login_NguoiDung" style="text-decoration:none">Người dùng</a>
            </div>


            <div style="padding-top: 30px; text-align: center">
                <a class="submit-btn " href="~/DangNhapAdmin/Login_Admin" style="text-decoration:none">Nhân viên</a>
            </div>


        </div>
    </div>

</body>

</html>





